CHROME_ENDPOINT=ws://127.0.0.1:9222/devtools/browser/MYGUID-here-4b34-bb79-b1cffab1c9a5
HIMAIL_URL=https://webmail.hinet.net/
HIMAIL_ACCOUNT=myid
HIMAIL_INBOX_URL=https://sg1000.webmail.hinet.net/mailService/mail/M_main_1.do
